/* light theme */
$main-color: #3a427c;
$bg-body-light: linear-gradient(120deg, #a6ff8e 0%, #85c9fd 100%);
$bg-btn-light: rgba(255, 255, 255, 0.7);
$btn-clr-light: #fff;
$btn-v-bg-light: rgb(11, 212, 162);
$btn-v-bg-light-active: rgb(18, 230, 177);
$btn-x-bg-light: #ddaf49;
$btn-x-bg-light-active: #ffcd62;

/*dark theme */
$main-color-dark: rgb(235, 235, 235);
$bg-body-dark: linear-gradient(120deg, #267013 0%, #193951 100%);
$bg-btn-dark: rgba(255, 255, 255, 0.318);
$btn-clr-dark: #3a427c;
$btn-v-bg-dark: rgb(85, 254, 212);
$btn-v-bg-dark-active: #3a427c;
$btn-x-bg-light: #ddaf49;
$btn-x-bg-light-active: #ffcd62;

.todo-component {
  background-image: $bg-body-light;
  color: white;
  min-height: 100vh;

  &_body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    padding-top: 100px;
  }

  header {
    font-size: 2rem;
    font-weight: 600;
    color: $main-color;
  }

  header,
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  form {

    /* Input style */
    .input {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }

    input,
    button {
      padding: 0.5rem;
      font-size: 2rem;
      border: none;
      background: $bg-btn-light;
    }

    input {
      flex: 1;
      border-radius: 0px 0 0 10px;

      &:focus {
        outline: none;
      }
    }

    button {
      color: $main-color;
      border-radius: 0 0 10px 0;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: $main-color;
        color: $btn-clr-light;
      }
    }

    /*Select style*/
    .select {
      position: relative;
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      option {
        color: $main-color;
      }

      /* Arrow */
      &::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        background: $main-color;
        cursor: pointer;
        pointer-events: none;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background-image: none;
      background: $bg-btn-light;
      color: $main-color;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      width: 12rem;
      flex: 1;
    }
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .todo-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .todo {
    background: $bg-btn-light;
    margin-bottom: 0.4em;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    height: 50.5px;
    width: 100%;
    overflow: hidden;

    &.deleted {
      height: 0;
      margin-bottom: 0;
      opacity: 0;
    }

    li {
      text-decoration: none;
      flex: 1;

      &.completed {
        text-decoration: line-through;
        opacity: 0.5;
      }
    }
  }

  .filter-todo {
    padding: 1rem;
  }

  .trash-btn,
  .complete-btn {
    background: $main-color;
    color: $btn-clr-light;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }

  .complete-btn {
    transition: all 0.1s linear;
    background: $btn-v-bg-light;
    width: 50px;

    &.completed {
      background-color: $btn-x-bg-light;

      &:active {
        background-color: $btn-x-bg-light-active;
      }
    }

    &:active {
      background: $btn-v-bg-light-active;
      transform: scale(1.1);
    }
  }

  .todo-item {
    padding: 0rem 0.5rem;
  }

  .fa-trash,
  .fa-check {
    pointer-events: none;
  }

  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    color: $main-color;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }

}

/* toggle theme style */
.toggle-theme {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  &_header {
    color: $main-color;
    font-weight: 700;
    margin-right: 5px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bg-body-dark;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background: $bg-body-light;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #fff;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

/* dark style */
.todo-component {
  &.dark {
    background-image: $bg-body-dark;
    color: $main-color-dark;

    .toggle-theme_header {
      color: $main-color-dark;
    }

    header {
      color: $main-color-dark;
    }

    form {

      button,
      input {
        background-color: $bg-btn-dark;
        color: $main-color-dark;
      }

      button {
        &:hover {
          color: $btn-clr-dark;
        }
      }

      .select {
        option {
          color: $main-color-dark;
        }

        &::after {
          background: $main-color-dark;
          color: $btn-clr-dark;
        }
      }

      select {
        background: $bg-btn-dark;
        color: $main-color-dark;
        font-weight: 600;
      }
    }

    .todo {
      background: $bg-btn-dark;
      color: $main-color-dark;
    }

    .trash-btn {
      background: $main-color-dark;
      color: $btn-clr-dark;
    }

  }
}